<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fbare@fbarerxre.pbz</string>
	<key>contactName</key>
	<string>Soner Eker</string>
	<key>description</key>
	<string>A pastel dark theme based on theme by idlefingers.</string>
	<key>name</key>
	<string>Resesif</string>
	<key>uuid</key>
	<string>50BE3610-0AF4-41AE-8E8C-47845BD6F4C3</string>
</dict>
</plist>
